header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}


.Lhead {
    margin-left: 10%;
}

.Rhead {
    margin-right: 10%;
}

#logo {
    font-size: 1.5em;
    color: #333;
    font-family: sans-serif;
    font-weight: 600;
}

#Ahead {
    color: #333;
    margin: 1em;
    font-size: 1.5em;
}