.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.left_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: relative;
    align-items: baseline;
    padding-left: 2em;
}

.circle {
    position: absolute;
    height: 3em;
    width: 3em;
    background: #dafc17;
    border-radius: 50%;
    z-index: 1;
    left: 0.3em;
    top: 0.9em;
    transition: all 0.2s ease-in-out;
}

.circle:hover {
    background: none;
}


.logo h1,h2 {
    z-index: 2;
}

#S {
    color: #4c5272;
}